@charset "UTF-8";
/* step_01.scss */
/* 기본 변수 설정 */
#wrap { width: 100%; min-width: 960px; height: auto; min-height: 1000px; margin: 0 auto; }

#headBox { width: 100%; height: 150px; background-color: #ff33bb; }

#headBox > h1 { color: #f0a; }

#headBox > h1:hover { color: black; }

#adBox { width: 100%; height: 450px; background-color: rgba(89, 118, 30, 0.5); }

#adBox h2 { width: 100%; height: auto; background-color: #0af; }

#adBox h2:hover { color: black; }

#content { width: 100%; height: 500px; background-color: #660044; }

#footBox { width: 100%; height: 50px; background-color: black; }
