/* footBox.css ----------------------------------------------*/
#footBox{width: 100%; height: 120px; background-color: #575757;}
  #footBox>h2{width:80px; height:40px; float: left;  background-color: #cfcfcf;
    margin-top:40px; margin-left:30px; margin-right: 86px;}
  .info_area{width:430px; height:75px; float: left; background-color: #cfcfcf;
    margin-top:25px;}
  .info_more{width:134px; height:100px; float: right; background-color: #cfcfcf;
    margin-right: 30px;}