// main.scss
/* main.css */
@import "../base/variable";
// @import "../base/mixin"

// @import "./layout/header";
// @import "./layout/main_etc";
// @import "./layout/footer";


#wrap{width: 980px; height:auto; margin: 0 auto; 
	    background-color: #ccc;}
#wrap:after{content:" "; display: block; clear: both;}	    

#sideBox{width: 100%; height:30px; 
	background-color:lighten(map-get($color,primary), 10%);  float:left;}

#headBox{width: 250px; height: 710px; 
	background-color:map-get($color,primary); float:left;}

#contentBox{width:(980 - 250) + px; height: 710px;
	background-color:#ffa; float:left;}

#footBox{width: 100%; height:110px; 
				border-top:1px solid map-get($color,line);
				background-color:darken(map-get($color, white), 10%); float:left;}









