/* step_02_mixin_ex.css */

// ---- 기본 설정파일 불러오기 ------------------------
// 변수설정
@import "../_setting/step_02_var";	
// mixin 설정
@import "../_setting/step_02_mixin";

// test --------------------------------------
@mixin baseLayout($w:100%, $h:auto, $c:$primary){
	width:$w; height:$h;background-color:$c;
}

// ---- layout design ------------------------
#wrap{@include baseLayout($w:960px, $c:transparent); margin:0 auto; }

#headBox{ @include baseLayout($h:100px, $c:lighten($primary, 10%)); }
#adBox{ @include baseLayout($h:400px, $c:lighten($primary, 15%)); }
#contentBox{ @include baseLayout($h:800px, $c:lighten($primary, 20%)); }
#footBox{ @include baseLayout($h:150px, $c:$primary);}