@charset "utf-8";
/* ! k_water_main.css */

#contentBox{width:100%; height:auto;}
	#adBox{width: 100%;height:498px; background-image:url("../../img/banner.jpg");
				background-repeat:no-repeat; background-position:center;}

	#lnb{width: 100%; height:98px; padding:5px; box-sizing:border-box; border-bottom:1px solid #eee; background-color: #9ff;}
		#lnb>ul{width: 100%; height: 100%;}
		#lnb>ul>li{width: 95px; height: 100%; float: left; padding:1px; box-sizing:border-box;}
		#lnb>ul>li>a{ background-color: #fff; }
		
		#lnb>ul>li:nth-child(1){}
		#lnb>ul>li:nth-child(2){}
		#lnb>ul>li:nth-child(3){}
		#lnb>ul>li:nth-child(4){}
		#lnb>ul>li:nth-child(5){}
		#lnb>ul>li:nth-child(6){}
		#lnb>ul>li:nth-child(7){}
		#lnb>ul>li:nth-child(8){}
		#lnb>ul>li:nth-child(9){}
		#lnb>ul>li:nth-child(10){}

	#mainBox{width: 100%; height:auto; padding:28px 5px 42px; box-sizing: border-box;}

			#mainBox .info>ul{width: 100%; height:auto;}
			#mainBox .info>ul>li{width:228px; height:auto; float: left; margin-left:12px;}
			#mainBox .info>ul>li:first-child{margin-left: 0;}

		.info_01{width: 100%; height:166px; margin-bottom:45px;background-color: #aaa;}

    .info_02{width: 100%; height:210px; margin-bottom:10px;}
			.etc_news{width:228px; height:100%; float: left; margin-left:12px;}
			.etc_news:first-of-type{margin-left: 0;}
	      .news_img{width: 100%; height: 142px; background-color: #ccc;}
	      .more_btn{width:100%; height:auto; padding:5px; box-sizing:border-box;}
	      .more_btn:after{content:" "; display: block; clear: both;}
	      .more_btn>a{width: 60px; height:auto; display: block; background-color: #777; color:#fff;
	      					float: right; text-align: center; padding:0.1em 0; 
	      					border-radius:15px; transition: all 0.3s;}
				.more_btn>a:hover{background-color: #09a; color:#fff;}	      					
	      .info_02 dl{width: 100%;}
	      .info_02 dt{width: 100%; font-weight: bold;}
	      .info_02 dd{width: 100%; color:#999;}

    .info_03{width: 100%; height:74px; margin-bottom:45px;background-color: #fff;}
	    .info_03 li{position: relative;background-repeat: no-repeat; background-position:right center;
	    					background-color: #eee;}
    	.info_03 a{display: block; width: 100%; height: 100%; font-size: 1em;
    						 line-height:74px; padding-left:1em; box-sizing:border-box; position:relative; z-index: 200;}
    	.info_03 a:hover{color:#fff;}

    	.info_03 li:nth-child(1){background-image:url("../../img/content/content_info_1.png");}
    	.info_03 li:nth-child(2){background-image:url("../../img/content/content_info_2.png");}
    	.info_03 li:nth-child(3){background-image:url("../../img/content/content_info_3.png");}
    	.info_03 li:nth-child(4){background-image:url("../../img/content/content_info_4.png");}

    	.info_03 li:after{content:" "; display: block; width: 100%; height: 100%; 
    	                  position: absolute; z-index: 100; top: 0; left: 0;
    	                  background-color:transparent; transition: all 0.3s;}
    	.info_03 li:hover:after{background-color:rgba(50,50,50,0.7);}

    .info_04{width: 100%; height:112px;background-color: #fff;}
			.info_04 dl{width:228px; height:100%; float: left; margin-right:12px;}
			.info_04 dl:last-of-type{width:450px; margin-left: 0;}
			.info_04 dl:last-of-type:after{content:" "; display: block; clear: both;}

			.info_04 dl>dt{font-weight:bold; font-size: 1em; margin-bottom: 0.7em;}
			.info_04 dl>dd{width: 100%; height: auto; padding-left:1em; box-sizing:border-box;}
			.info_04 dl>dd>ul{width: 100%; height: auto;}
			.info_04 dl>dd>ul>li{list-style-type:square; margin-top: 0.3em; color:#777; font-size: 0.9em;}

			.row_list>li{width:30%; float:left; margin-right: 3%;}
			.row_list>li:nth-child(3n){margin-right: 0;}













