@charset "utf-8";
/*! k_water_header.css */

#wrap{width: 960px; height: auto; min-height:150px; margin: 0 auto;}

#headBox{width:100%; height:90px; padding:18px 5px 20px; box-sizing:border-box; background-color: #fff;}
	h1{width: 98px; height: 46px; background-color: #afc;float: left; font-size:1em;}
	#mainNav{width: 790px; height: auto; float: right;}
		#mainNav:after{content:" "; display: block;clear: both;}
		#unb{width:227px; height: 18px; float: right; background-color: #ccc;}
		#gnb{width:790px; height: 36px; float: right;background-color: #aaa;}

#contentBox{width:100%; height:auto; background-color: #aff;}
	#adBox{width: 100%;height:498px; background-color: #0af;}
	#lnb{width: 100%; height:98px; border-bottom:1px solid #eee; background-color: #9ff;}
	#mainBox{width: 100%; height:636px; padding:28px 5px 42px; box-sizing: border-box; background-color: #999;}



#footBox{width:100%; height:115px; border-top:1px solid #e8e8e8; 
					padding:5px; padding-top: 38px; box-sizing:border-box; background-color: #f7f7f7;}

	#footBox>h2{width: 94px; height: 48px; margin-right: 20px; float:left; background-color:#580;}
	#footInfo{width: 510px; height: 48px; float:left; background-color:#580;}
	.mark{width: 170px; height: 95px; margin-top: -15px; float:right; background-color:#580;}














