@charset "utf-8"; 
/*! k_water_footer.css */

#footBox{width:100%; height:155px; border-top:1px solid #e8e8e8; 
					padding:5px; padding-top: 38px; box-sizing:border-box; background-color: #f7f7f7;}

	#footBox>h2{width: 94px; height: 48px; margin-right: 20px; float:left; 
							background-image: url("../../img/footer/h2.jpg");	
							background-repeat: no-repeat; background-position:center bottom;}
	#footInfo{width: 510px; height: 48px; float:left;}
		.fnb{width: 100%; height: auto;}
		.fnb:after{content:" "; display: block; clear: both;}

		/* 링크목록의 가로 나열일경우 중간에 vertical line을 생성시켜야 하는 경우가 있다.! 
			 list의 하나로 추가가 아닌, after를 활용해라! */
		.fnb>li{height: 18px; float:left; margin-right:9px; position: relative; word-spacing:-0.2em;}
		.fnb>li:after{content:" "; display: block; width: 0; height: 18px; border-right:1px solid #fa0; 
								position: absolute; right:-4px; top: 0;}
		.fnb>li:last-child:after{display: none;}

	  address{width: 100%; height: 28px; background-color: #ccc;}
	.mark{width: 170px; height: 95px; margin-top: -15px; float:right;}
	.mark>ul{width: 100%; height: 100%;}
	.mark>ul>li{width:80px; height:inherit; margin-left: 10px; float: left; background-color: #afc;}
	.mark>ul>li:first-child{margin-left: 0;}





