// _headBox.scss
/* ============== headBox.css ============== */
#headBox{
 @include baseLayout($boo:true ,$h:rem(120), $bgc:white, $myC:true); 
	position: absolute; bottom: 0; left:0; z-index:500;
	box-shadow:0.3rem 0.3rem 0.3rem rgba(map-get($color, dark),0.5);
	> .head_wrap{width: 960px; height:100%; margin:0 auto;padding:0 rem(10); background-color:color(white);
	} // .head_wrap
} // #headBox

	h1{width:rem(220); height: 100%; background-color:color(main); float: left;}
	
	#gnb{width:rem(600); height: auto; min-height: 100%; float: right;
		 box-sizing:border-box; position: relative;
		 //배경 색상 나타나게 만들기
	&:before{content: " "; display: block; width: 100%; height:100%;
			 position: absolute; z-index: -200; right: 0; top: 0;
			background-color:color(main, 0.5); padding-left:rem(360); right: 0;}
		
		>h2{width:rem(140); height:rem(140); position: absolute; top:rem(140); left:rem(-320);
			background-color:color(white); @include ani();}

		>dl{width:rem(120); height:100%; float: left; margin-left:rem(40); 
			&:first-of-type{margin-left: 0;}

			&:hover {height:auto;}

				>dt{width: 100%; height: 100%; font-size:fs(big2); line-height:rem(120);	position: relative; 
				
					&:before{content:" "; display: block; width:100%; height: 0; left:0;border-bottom:line(l4); border-bottom-width:0; position: absolute; bottom:rem(35); z-index:-100;
						@include ani(); 
						}
					&:hover:before{left: 0;  border-bottom-width:rem(4);}
				} // dt
				>dd{ width: 100%; height: auto; padding-top:rem(16); @include ani(); padding-bottom:rem(10);
					>a{display: inline-block; width: 100%; @include boxSizing(6); color:color(white); font-style:fs(middle);}
				 } //dd
				} //dl
	// #gnb에 addClass부여시 설정기능 		
		 &.up:before{transform:translateY(-180px);}
		 &.up h2,
		 &.up dd{transform:translateY(-300px);}
			} // #gnb