/* reset.css */

/* basic */
html, body{width: 100%; height: 100%;}
html, body, h1,h2,h3,h4,h5,h6,p,div,
form,fieldset,
table,tr,td,th,thead,tbody,tfoot,
img,
ul,ol,li,dt,dd,dl{ 
  margin: 0; padding: 0; border: 0; outline: 0;
  color:$font; font-size:100%; line-height:1.2; 
  font-family:$fontFamily;}

/* set_1 */
ul,ol,li{list-style: none;}
a{text-decoration: none; color:inherit;}
a:hover{color:$main;}
table,th,td{border-spacing:0; border-collapse:collapse;}

/* set_2: form */
form, fieldset, legend{}
input, select, textarea{box-sizing:border-box; border:1px solid $deepGray;}
button, 
input[type="button"], input[type="submit"],
input[type="reset"]{border:0; cursor: pointer;}

/* focus */
a:focus, input:focus, button:focus, textarea:focus, select:focus{
  outline:3px solid $point; outline-offset:5px; position: relative; z-index:1000; }

/* html5 */
header, article, aside, footer, nav, figure, main, srcset{display: block;}



