// _setting.scss

// @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

$primary:#333;
$main:#f06;
$deepGray:#575757;
$lightGray:#cfcfcf;
$white:#fff;
$point:#ff0;
$font:$deepGray;
$fontFamily:'nanum gothic', sans-serif;
$url:"../img/";


//  @mixin 이름   -> @include 이름

@mixin prefix($name, $val){
	-webkit-#{$name}: $val;
	-moz-#{$name}:    $val;
	-ms-#{$name}:     $val;
	-o-#{$name}:      $val;
	#{$name}:         $val;
}

@mixin prefix2($name, $val){
	#{$name}: -webkit-$val;
	#{$name}: -moz-$val;
	#{$name}: -ms-$val;
	#{$name}: -o-$val;
	#{$name}: $val;
}

















