/* step_02_mixin_ex.css */
#wrap { width: 960px; height: auto; background-color: transparent; margin: 0 auto; }

#headBox { width: 100%; height: 100px; background-color: #9999ff; }

#adBox { width: 100%; height: 400px; background-color: #b3b3ff; }

#contentBox { width: 100%; height: 800px; background-color: #ccccff; }

#footBox { width: 100%; height: 150px; background-color: #66f; }
