@charset "UTF-8";
/* step_04_for.css */
/*
@for $임의변수 from 시작값 through 마지막값 {

}
// through  <=, >= : 이상, 이하
// to <, > : 초과,미만
*/
li:nth-child(1) { background-image: url("img_1.png"); }

li:nth-child(1):hover { background-image: url("img_1_on.png"); }

li:nth-child(2) { background-image: url("img_2.png"); }

li:nth-child(2):hover { background-image: url("img_2_on.png"); }

li:nth-child(3) { background-image: url("img_3.png"); }

li:nth-child(3):hover { background-image: url("img_3_on.png"); }

li:nth-child(4) { background-image: url("img_4.png"); }

li:nth-child(4):hover { background-image: url("img_4_on.png"); }

li:nth-child(5) { background-image: url("img_5.png"); }

li:nth-child(5):hover { background-image: url("img_5_on.png"); }

li:nth-child(6) { background-image: url("img_6.png"); }

li:nth-child(6):hover { background-image: url("img_6_on.png"); }

li:nth-child(7) { background-image: url("img_7.png"); }

li:nth-child(7):hover { background-image: url("img_7_on.png"); }

li:nth-child(8) { background-image: url("img_8.png"); }

li:nth-child(8):hover { background-image: url("img_8_on.png"); }

li:nth-child(9) { background-image: url("img_9.png"); }

li:nth-child(9):hover { background-image: url("img_9_on.png"); }

li:nth-child(10) { background-image: url("img_10.png"); }

li:nth-child(10):hover { background-image: url("img_10_on.png"); }

/* @each 임의변수 in (각각의 값){  // 내용 } */
/* each 1 */
li:nth-child(3) { background-image: url("img_3.png"); }

li:nth-child(10) { background-image: url("img_10.png"); }

li:nth-child(5) { background-image: url("img_5.png"); }

li:nth-child(15) { background-image: url("img_15.png"); }

/* each 2 */
.coffee_americano { background-image: url(americano.png); }

.coffee_americano:hover { background-image: url(americano_on.png); }

.coffee_latte { background-image: url(latte.png); }

.coffee_latte:hover { background-image: url(latte_on.png); }

.coffee_viena { background-image: url(viena.png); }

.coffee_viena:hover { background-image: url(viena_on.png); }

.coffee_compana { background-image: url(compana.png); }

.coffee_compana:hover { background-image: url(compana_on.png); }

.coffee_mocha { background-image: url(mocha.png); }

.coffee_mocha:hover { background-image: url(mocha_on.png); }

/* each 3 */
.green_americano { background-image: url(americano.png); }

.green_americano:hover { background-image: url(americano_on.png); }

.green_latte { background-image: url(latte.png); }

.green_latte:hover { background-image: url(latte_on.png); }

.green_viena { background-image: url(viena.png); }

.green_viena:hover { background-image: url(viena_on.png); }

.green_compana { background-image: url(compana.png); }

.green_compana:hover { background-image: url(compana_on.png); }

.green_mocha { background-image: url(mocha.png); }

.green_mocha:hover { background-image: url(mocha_on.png); }

/* for 2 */
li:nth-child(1) { color: #333; }

li:nth-child(2) { color: #137; }

li:nth-child(3) { color: #0f6; }

li:nth-child(4) { color: #f07; }

li:nth-child(5) { color: #afc; }

li:nth-child(6) { color: #479; }

li:nth-child(7) { color: #aaf; }

/* for 3 */
.box_1 { color: #333; }

.box_2 { color: #137; }

.box_3 { color: #0f6; }

.box_4 { color: #f07; }

.box_5 { color: #afc; }

.box_6 { color: #479; }

.box_7 { color: #aaf; }

.box_8 { color: #7f4; }

.box_9 { color: #f9a; }
