/* sub1.css */
#headBox > #gnb > h2, #sideBox > h2, .curriculum > h4 { width: 0; height: 0; display: block; position: absolute; z-index: -100; overflow: hidden; }

#wrap { width: 980px; height: auto; margin: 0 auto; background-color: #ccc; }

#wrap:after { content: " "; display: block; clear: both; }

#headBox { width: 250px; height: 1160px; min-height: 710px; background-color: #777; float: left; padding: 55px 55px 100px 40px; box-sizing: border-box; }

#headBox a { width: 100%; height: 100%; display: block; background-image: url("../../img/header/header.png"); background-repeat: no-repeat; background-position: 0 0; }

#headBox a:hover { background-image: url("../../img/header/header_on.png"); background-position: 0 0; }

#headBox a span { width: 0; height: 0; display: block; position: absolute; overflow: hidden; }

#headBox > h1 { width: 100%; height: 105px; margin-bottom: 40px; }

#headBox > #gnb { width: 100%; height: auto; }

#headBox > #gnb ul { width: 100%; height: auto; }

#headBox > #gnb ul > li { width: 100%; height: 38px; margin-bottom: 25px; }

#headBox > #gnb ul > li:nth-last-child(2) { margin-bottom: 8px; }

#headBox > #gnb ul > li:last-child { height: 112px; margin-bottom: 0; }

#headBox > #gnb ul > li:nth-child(1) > a { background-position: 0 -144px; transition: all 0.3s linear; }

#headBox > #gnb ul > li:nth-child(2) > a { background-position: 0 -206px; transition: all 0.3s linear; }

#headBox > #gnb ul > li:nth-child(3) > a { background-position: 0 -268px; transition: all 0.3s linear; }

#headBox > #gnb ul > li:nth-child(4) > a { background-position: 0 -331px; transition: all 0.3s linear; }

#headBox > #gnb ul > li:nth-child(5) > a { background-position: 0 -393px; transition: all 0.3s linear; }

#headBox > #gnb ul > li:nth-child(6) > a { background-position: 0 -438px; transition: all 0.3s linear; }

#footBox { width: 100%; height: 110px; border-top: 1px solid #555; background-color: #e6e6e6; float: left; }

#wrap { width: 980px; height: auto; min-height: 700px; margin: 0 auto; background-image: url("../../img/sub/bg01_patt.jpg"); background-repeat: repeat; background-position: 0 0; }

#wrap:after { content: " "; display: block; clear: both; }

#sideBox { width: 100%; height: 30px; float: left; background-color: #888; }

#sideBox > ul { width: auto; height: 100%; float: right; }

#sideBox > ul > li { width: 90px; height: 30px; float: left; }

#sideBox > ul > li:last-child { width: 250px; }

#sideBox > ul > li > a { width: 100%; height: 100%; display: block; background-image: url("../../img/sub/top_nav.jpg"); background-repeat: no-repeat; background-position: 0 0; transition: all 0.3s ease; }

#sideBox > ul > li > a:hover { background-image: url("../../img/sub/top_nav.jpg"); background-position: 0 0; }

#sideBox > ul > li > a span { width: 0; height: 0; display: block; position: absolute; overflow: hidden; }

#sideBox > ul > li:nth-child(1) > a { background-position: -460px 0; }

#sideBox > ul > li:nth-child(1) > a:hover { background-position: -460px bottom; }

#sideBox > ul > li:nth-child(2) > a { background-position: -550px 0; }

#sideBox > ul > li:nth-child(2) > a:hover { background-position: -550px bottom; }

#sideBox > ul > li:nth-child(3) > a { background-position: -640px 0; }

#sideBox > ul > li:nth-child(3) > a:hover { background-position: -640px bottom; }

#sideBox > ul > li:nth-child(4) > a { background-position: right 0; }

#sideBox > ul > li:nth-child(4) > a:hover { background-position: right bottom; }

#headBox { background-color: rgba(136, 136, 136, 0.3); }

#contentBox { width: 730px; height: auto; min-height: 710px; float: left; background-color: transparent; padding: 64px 40px 0 64px; box-sizing: border-box; }

#contentBox > hgroup { width: 100%; height: 44px; margin-bottom: 48px; color: #fff; }

#contentBox > hgroup h2, #contentBox > hgroup h3 { height: 100%; float: right; color: inherit; line-height: 44px; font-weight: normal; }

#contentBox > hgroup h2 { font-size: 2rem; /* 1rem == 16px */ margin-left: 23px; }

#contentBox > hgroup h3 { font-size: 1.125rem; }

.curriculum { width: 100%; height: 540px; margin-bottom: 50px; background-color: #777; }

.curriculum > dl { width: 200px; height: 100%; margin-right: 10px; float: left; }

.curriculum > dl:last-of-type { margin-right: 0; }

.curriculum > dl > dt { width: 100%; height: 340px; background-color: #fff; border-radius: 20px; margin-bottom: 5px; }

.curriculum > dl > dd { width: 100%; box-sizing: border-box; height: auto; min-height: 150px; border: 1px solid #fff; border-top: 0; border-bottom: 0; }

.curri_narr { width: 100%; height: 315px; background-color: #add; }
